# Security
DJANGO_SETTINGS_MODULE=core.settings.dev
SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Database (PostgreSQL)
DB_NAME=green_citizen
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=127.0.0.1
DB_PORT=5432

# PgBouncer (production)
DB_SSLMODE=prefer

# Telegram Bot
TELEGRAM_CHANNEL_ID=your_channel_id
TELEGRAM_BOT_TOKEN=your_bot_token

